.container {
  margin: 0 auto;
  width: 760px;
}

nav ul, nav ul li {
  list-style-type: none;
  display: inline;
  padding: 5px;
}

.errors {
  list-style-type: none;
  color: red;
}

.button-link-form {
  display: inline;
}

.button-link {
  margin: 0px;
  display: inline;
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
}

  .button-link:hover {
    border-bottom: 1px solid #444;
  }

.delete {
  color: red;
}

  .delete:hover {
    border-bottom: 1px solid red;
  }

body {
  background-color: gray;
}

main {
  margin: 0px;
  padding: 10px 50px;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

input {
  margin: 5px 0px;
  border-radius: 5px;
}

  input:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
  }
