<h2>Profile Page</h2>

<div class="profile-information">
  <table>
    <tr><td>Username</td><td><%= @user.username %></td></tr>
    <tr><td>Email</td><td><%= @user.email %></td></tr>
  </table>

  <% if current_user == @user %>
    <a href="/users/<%= current_user.id %>/edit">Edit Profile</a>
  <% end %>
</div>
