<h2>Add a Restaurant</h2>
  <form action="/restaurants" method="post">
    <input type="hidden" name="restaurant[owner_id]" value="<%= current_user.id %>" />
    <input type="text" name="restaurant[name]" placeholder="Restaurant Name" /><br />
    <input type="text" name="restaurant[cuisine]" placeholder="Cuisine" /><br />
    <input type="text" name="restaurant[address]" placeholder="Address" /><br />
    <input type="text" name="restaurant[city]" placeholder="City" /><br />
    <input type="text" name="restaurant[state]" placeholder="State" /><br />
    <input type="text" name="restaurant[zip]" placeholder="Zipcode" /><br />
    <input type="submit" value="Add Restaurant" />
  </form>
