<h2>Add a Restaurant</h2>
  <form action="/restaurants" method="post">
    <input type="hidden" name="restaurant[owner_id]" value="<%= current_user.id %>" />
    <input type="text" name="restaurant[name]" placeholder="Restaurant Name" />
    <input type="text" name="restaurant[cuisine]" placeholder="Cuisine" />
    <input type="text" name="restaurant[address]" placeholder="Address" />
    <input type="text" name="restaurant[city]" placeholder="City" />
    <input type="text" name="restaurant[state]" placeholder="State" />
    <input type="text" name="restaurant[zip]" placeholder="Zipcode" />
    <input type="submit" value="Add Restaurant" />
  </form>
